# Tarea 1
### Por Erick Salas Chaverri

Normalizar y estandarizar.
https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase1/daily-min-temperatures.csv

Manual y automática

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, normalize

In [2]:
# Cargando y Mostrando los datos

In [3]:
my_df = pd.read_csv('https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase1/daily-min-temperatures.csv')
my_df.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [4]:
my_df.set_index('Date', inplace=True)

In [5]:
my_df.head()

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8

In [6]:
#  función para normalizar
normalizar = lambda x : (x - x.min())/(x.max()-x.min())

In [7]:
# función para estandarizar
estandarizar = lambda x : (x - x.mean())/(x.std())

In [8]:
my_df['normalizado'] = normalizar(my_df['Temp'])

In [9]:
my_df['estandarizado'] = estandarizar(my_df['Temp'])
my_df.head()

            Temp  normalizado  estandarizado
Date
1981-01-01  20.7     0.787072       2.338563
1981-01-02  17.9     0.680608       1.650913
1981-01-03  18.8     0.714829       1.871943
1981-01-04  14.6     0.555133       0.840467
1981-01-05  15.8     0.600760       1.135175

In [10]:
my_df.agg({'estandarizado':['mean', 'std'],
          'normalizado': ['max', 'min']}).stack()

max   normalizado      1.000000e+00
mean  estandarizado   -1.045648e-15
min   normalizado      0.000000e+00
std   estandarizado    1.000000e+00
dtype: float64

## Usando sklearn

In [11]:
from sklearn import preprocessing
import numpy as np

In [12]:
another_df = my_df.copy()
X_train = another_df['Temp'].values.reshape(-1, 1)
X_scaled = preprocessing.scale(X_train)

In [13]:
another_df['Estandarizado_lib'] =  X_scaled

In [14]:
min_max_scaler = preprocessing.MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
another_df['Normalizado_lib'] =  X_train_minmax

In [15]:
another_df.head()

,Temp,normalizado,estandarizado,Estandarizado_lib,Normalizado_lib
Date,,,,,
1981-01-01,20.7,0.787072,2.338563,2.338883,0.787072
1981-01-02,17.9,0.680608,1.650913,1.651139,0.680608
1981-01-03,18.8,0.714829,1.871943,1.872199,0.714829
1981-01-04,14.6,0.555133,0.840467,0.840583,0.555133
1981-01-05,15.8,0.600760,1.135175,1.135330,0.600760

### Conclusión

Se comprueba la equivalencia del cálculo de la normalización y estandarización equivalentes por medio de fórmula o por biblioteca